<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat app realtime</title>
    <link rel="icon" type="image/x-icon" href="styleForStartPage/img/icons8-speech-bubble-100.png">

</head>


<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="row">
            <div class="col-1">
                <video class="video-client" autoplay playsinline style="pointer-events: none;"> </video>
                <div class="controls">
                    <a class="minimize-window-btn"><img
                            src="https://img.icons8.com/ios-filled/256/minimize-window.png"></a>
                    <a class="video-btn"><img src="https://img.icons8.com/sf-black-filled/256/video-call.png"
                            class="img_video"></a>
                    <a class="shutdown-btn"><img
                            src="https://img.icons8.com/external-others-inmotus-design/256/external-Disconnect-phone-operations-and-functions-others-inmotus-design.png"></a>

                    <a class="microphone-btn"><img src="https://img.icons8.com/ios-glyphs/256/microphone.png"
                            class="img_microphone"></a>
                    <a class="speaker-btn"><img src="https://img.icons8.com/material-sharp/256/speaker.png"
                            class="img_speaker"></a>
                </div>

            </div>
            <div class="col-2">
                <video class="video-host" autoplay playsinline style="pointer-events: none;" muted></video>
            </div>
        </div>
    </div>
    <!-- partial -->

</body>
<style>
    .col-1 {
        flex-basis: 65%;
    }

    .col-2 {
        flex-basis: 33%;
    }

    .video-client {
        display: flex;
        width: 100%;
        height: 895px;
        border-radius: 20px;
        object-fit: cover;
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .controls img {
        width: 40px;
        margin: 20px 10px;
        cursor: pointer;
        transition: transform 0.5s;
    }

    .controls .call-icon {
        width: 55px;
    }

    .controls img:hover {
        transform: translateY(-10px);
    }

    .video-host {
        border-radius: 20px;
        position: absolute;
        right: 30px;
        top: 30px;
        height: 190px;
    }
</style>
<script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
<script src="https://chat-app-realtime.up.railway.app/client-dist/socket.io.js"></script>
<script>

    const userID = '<%= userID %>';
    const roomID = '<%= roomID %>';
    let friendID = '<%= friendID %>';

    const socket = io();
    socket.on('connect', () => {
        socket.emit('user-connected', userID);

    })
    socket.emit('join', { roomID: roomID });

    const myVideo = document.querySelector('.video-host');
    const peerVideo = document.querySelector('.video-client');
    const speaker_btn = document.querySelector('.speaker-btn');
    const microphone_btn = document.querySelector('.microphone-btn');
    const video_btn = document.querySelector('.video-btn');
    const shutdown_btn = document.querySelector('.shutdown-btn');

    const img_video = document.querySelector('.img_video');
    const img_microphone = document.querySelector('.img_microphone');
    const img_speaker = document.querySelector('.img_speaker');

    const myPeer = new Peer(userID);

    let constraint = {
        video: {
            width: { min: 944, ideal: 1887, max: 1887 },
            height: { min: 700, ideal: 895, max: 895 }
        },
        audio: true,
    }

    // mediaStream is mediaStream Object  
    navigator.mediaDevices.getUserMedia(constraint).then(mediaStream => {
        // let newMediaStream = new MediaStream(mediaStream.getTracks());
        // let audioTrack_mine = newStream.getAudioTracks()[0];
        // newMediaStream.removeTrack(audioTrack_mine);

        addVideoStream(myVideo, mediaStream); // display my video on screen

        const call_mine = myPeer.call(friendID, mediaStream); // call to friend who have friend id is friendID
        // call is mediaConnection

        // this function will emitted when a remote peer adds a stream.
        call_mine.on('stream', userVideoStream => {
            addVideoStream(peerVideo, userVideoStream)
        })

        // myPeer.on will emitted when a remote peer attempts to call you
        myPeer.on('call', call => { // call is mediaConnection object
            call.answer(mediaStream);
            // call.on will emitted when a remote peer adds stream
            call.on('stream', stream => {
                addVideoStream(peerVideo, stream); // display remote peer video on my screen
            })
            call.on('close', () => {
                call_mine.close();
                window.location.href = '/chat';
            })
        })


        shutdown_btn.addEventListener('click', () => {
            call_mine.close(); // Closes the media connection.
            socket.emit('close-video-call');
            socket.emit('leave', { roomID: roomID });
            window.location.href = '/chat';
        });

        socket.on('response-to-close-video-call', () => {
            socket.emit('leave', { roomID: roomID });
            window.location.href = '/chat';
        })

        call_mine.on('error', () => {
            console.log("met error !");
        })

        // this function will turn off or on microphone when use click;
        microphone_btn.addEventListener('click', () => {
            const audioTrack = mediaStream.getAudioTracks()[0];
            // change icon microphone
            if (audioTrack.enabled) {
                img_microphone.src = "https://img.icons8.com/ios-glyphs/256/block-microphone.png";
            } else {
                img_microphone.src = "https://img.icons8.com/ios-glyphs/256/microphone.png";
            }
            audioTrack.enabled = !audioTrack.enabled;
        });

        video_btn.addEventListener('click', () => {
            const videoTrack = mediaStream.getVideoTracks()[0];
            // change video icon
            if (videoTrack.enabled) {
                img_video.src = "https://img.icons8.com/ios-filled/256/no-video.png";
            } else {
                img_video.src = "https://img.icons8.com/sf-black-filled/256/video-call.png";
            }
            videoTrack.enabled = !videoTrack.enabled;
        })

        speaker_btn.addEventListener('click', () => {
            if (peerVideo.muted) {
                peerVideo.muted = false;
                img_speaker.src = "https://img.icons8.com/material-sharp/256/speaker.png";
            } else {
                img_speaker.src = "https://img.icons8.com/ios-filled/256/no-audio.png";
                peerVideo.muted = true;
            }
        })

    });

    function addVideoStream(video, stream) {
        video.srcObject = stream;
    }
</script>
<!-- <script src="/logicFile/callvideo.js"></script> -->


</html>