<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Chat app realtime</title>
    <link rel="icon" type="image/x-icon" href="styleForStartPage/img/icons8-speech-bubble-100.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style_for_login_page/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style_for_login_page/css/canitoLogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@700&display=swap"
        rel="stylesheet">
</head>

<body>
    <form method="post" action="/login">
        <div class="parent">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-column justify-content-center" id="login-box">
                            <hr style="width: 100%;margin-bottom: 3px;margin-top: 0px;">
                            <div class="email-login" style="background-color:#ffffff; position: relative;">
                                <a href="/"> <img class="close-btn"
                                        src="https://cdn-icons-png.flaticon.com/512/2976/2976286.png"></a>
                                <span class="login"
                                    style="position: relative;font-size: 59px;display: grid;">Login</span>
                                <input type="email" class="email-imput form-control" style="margin-top:10px;" required
                                    placeholder="Email" minlength="6" id="email" name="email">
                                <input type="password" class="password-input form-control"
                                    style="margin-top: 10px;height: 46px;" required placeholder="Password" minlength="6"
                                    id="password" name="password">

                            </div>
                            <div class="submit-row" style="margin-bottom:8px;padding-top:0px;"><button
                                    class="btn btn-primary btn-block box-shadow" data-bss-hover-animate="pulse"
                                    id="submit-id-submit"
                                    style="font-size: 20px;padding: 5px 12px 0px;padding-top: 5px;width: 458px;min-width: 0px;background: url(&quot;style_for_login_page/img/bg-01.jpg&quot;) no-repeat, #ff8000;background-size: cover, auto;margin-left: 1px; font-family: 'Questrial', sans-serif;">Login&nbsp;</button>
                                <div class="d-flex justify-content-between">
                                    <div class="form-check form-check-inline" id="form-check-rememberMe"><input
                                            class="form-check-input" type="checkbox" id="formCheck-1" for="remember"
                                            style="cursor:pointer;" name="check"><label class="form-check-label"
                                            for="formCheck-1"><span class="label-text">Remeber me</span></label></div><a
                                        id="forgot-password-link" href="">Forgot password ?</a>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center login-box-seperator-container">
                                <div class="login-box-seperator"></div>
                                <div class="login-box-seperator-text">
                                    <p
                                        style="margin-bottom:0px;padding-left:10px;padding-right:10px;font-weight:400;color:rgb(201,201,201);">
                                        Or login using</p>
                                </div>
                                <div class="login-box-seperator"></div>
                            </div>
                            <div class="login-box-content">
                                <div class="fb-login box-shadow"><a
                                        class="d-flex flex-row align-items-center social-login-link"
                                        href="/auth/facebook"><i class="fa fa-facebook"
                                            style="margin-left:0px;padding-right:20px;padding-left:22px;width:56px; "></i>Login
                                        with Facebook</a></div>
                                <div class="gp-login box-shadow"><a
                                        class="d-flex flex-row align-items-center social-login-link"
                                        style="margin-bottom:10px;" href="/auth/google"><i class="fa fa-google"
                                            style="color:rgb(255,255,255);width:56px;"></i>Login with Google</a></div>
                            </div>
                            <div class="d-flex d-xl-flex justify-content-xl-center" id="login-box-footer"
                                style="padding: 10px 20px;padding-bottom: 78px;padding-top: 0px;"><a href="/signup-form"
                                    style="color: #ff8000;font-size: 20px;"><br>Have not account yet ? Sign up</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row" id="alert-popup"
        style="z-index: 9998;position: absolute; right: 0px; bottom: 10px;overflow: hidden; display: none;">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="new-message-box">
                <div class="new-message-box-alert">
                    <div class="info-tab tip-icon-alert" title="error"><i></i></div>
                    <div class="tip-box-alert">
                        <!--<p><strong>Tip:</strong> If you want to enable the fading transition effect while closing the alert boxes, apply the classes <code>.fade</code> and <code>.in</code> to them along with the contextual class.</p>-->
                        <p class="content-alert">Email hoặc mật khẩu không chính xác !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            background-color: cornflowerblue;
            overflow: hidden;
        }

        .parent {
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.3);
        }

        .close-btn {
            position: absolute;
            right: 15px;
            cursor: pointer;
            width: 15px
        }

        /*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




        /*==========  Mobile First Method  ==========*/

        /* Custom, iPhone Retina */
        @media only screen and (min-width : 320px) {}

        /* Extra Small Devices, Phones */
        @media only screen and (min-width : 480px) {}

        /* Small Devices, Tablets */
        @media only screen and (min-width : 768px) {}

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 992px) {}

        /* Large Devices, Wide Screens */
        @media only screen and (min-width : 1200px) {}



        /*==========  Non-Mobile First Method  ==========*/

        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {}

        /* Medium Devices, Desktops */
        @media only screen and (max-width : 992px) {}

        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {}

        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 480px) {}

        /* Custom, iPhone Retina */
        @media only screen and (max-width : 320px) {}



        /*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
        @media only screen and (max-width : 1200px) {}

        @media only screen and (max-width : 979px) {}

        @media only screen and (max-width : 767px) {}

        @media only screen and (max-width : 480px) {}

        @media only screen and (max-width : 320px) {}


        /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
        @media only screen and (min-width:960px) {
            /* styles for browsers larger than 960px; */
        }

        @media only screen and (min-width:1440px) {
            /* styles for browsers larger than 1440px; */
        }

        @media only screen and (min-width:2000px) {
            /* for sumo sized (mac) screens */
        }

        @media only screen and (max-device-width:480px) {
            /* styles for mobile browsers smaller than 480px; (iPhone) */
        }

        @media only screen and (device-width:768px) {
            /* default iPad screens */
        }

        /* different techniques for iPad screening */
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
            /* For portrait layouts only */
        }

        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
            /* For landscape layouts only */
        }

        /*******Nuevos mensajes de error******/

        .new-message-box {
            margin: 15px 0;
            padding-left: 20px;
            margin-bottom: 25px !important;
            width: 518px;
            height: 78px;
        }

        .new-message-box p {
            font-size: 1.15em;
            font-weight: 600;
        }

        .info-tab {
            width: 40px;
            height: 40px;
            display: inline-block;
            position: relative;
            top: 8px;
        }

        .info-tab {
            float: left;
            margin-left: -23px;
        }

        .info-tab i::before {
            width: 24px;
            height: 24px;
            box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
        }

        .info-tab i::after {
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-bottom-color: #fff;
            border-left-color: #fff;
            bottom: -18px;
        }

        .info-tab i::before,
        .info-tab i::after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -17px;
            transform: rotateX(60deg);
        }

        .note-box,
        .warning-box,
        .tip-box-success,
        .tip-box-danger,
        .tip-box-warning,
        .tip-box-info,
        .tip-box-alert {
            padding: 12px 8px 3px 26px;
        }


        /***Success****/

        .new-message-box-success {
            background: #eeeeee;
            padding: 3px;
            margin: 10px 0;
        }

        .tip-icon-success {
            background: #8BC34A;
        }

        .tip-box-success {
            color: #33691E;
            background: #DCEDC8;
        }

        .tip-icon-success::before {
            font-size: 25px;
            content: "\f00c";
            top: 8px;
            left: 11px;
            font-family: FontAwesome;
            position: absolute;
            color: white;
        }

        .tip-icon-success i::before {
            background: #8BC34A;
        }


        /*******Danger*******/
        .new-message-box-danger {
            background: #eeeeee;
            padding: 3px;
            margin: 10px 0;
        }

        .tip-icon-danger {
            background: #f44336;
        }

        .tip-box-danger {
            color: #b71c1c;
            background: #FFCCBC;
        }

        .tip-icon-danger::before {
            font-size: 25px;
            content: "\f00d";
            top: 8px;
            left: 11px;
            font-family: FontAwesome;
            position: absolute;
            color: white;
        }

        .tip-icon-danger i::before {
            background: #f44336;
        }

        /*******warning*******/
        .new-message-box-warning {
            background: #eeeeee;
            padding: 3px;
            margin: 10px 0;
        }

        .tip-icon-warning {
            background: #FFEB3B;
        }

        .tip-box-warning {
            color: #212121;
            background: #FFF9C4;
        }

        .tip-icon-warning::before {
            font-size: 25px;
            content: "\f071";
            top: 8px;
            left: 11px;
            font-family: FontAwesome;
            position: absolute;
            color: #212121;
        }

        .tip-icon-warning i::before {
            background: #FFEB3B;
        }

        /*******info*******/
        .new-message-box-info {
            background: #eeeeee;
            padding: 3px;
            margin: 10px 0;
        }

        .tip-box-info {
            color: #01579B;
            background: #B3E5FC;
        }

        .tip-icon-info {
            background: #03A9F4;
        }

        .tip-icon-info::before {
            font-size: 25px;
            content: "\f129";
            top: 8px;
            left: 11px;
            font-family: FontAwesome;
            position: absolute;
            color: white
        }

        .tip-icon-info i::before {
            background: #03A9F4;
        }


        /*******info*******/
        .new-message-box-alert {
            background: #FF6F00;
            padding: 3px;
            margin: 10px 0;
        }

        .tip-box-alert {
            color: #212121;
            background: #FFF8E1;
        }

        .tip-icon-alert {
            background: #FF6F00;
        }

        .tip-icon-alert::before {
            font-size: 25px;
            content: "\f06a";
            top: 2px;
            left: 11px;
            font-family: FontAwesome;
            position: absolute;
            color: white
        }

        .tip-icon-alert i::before {
            background: #FF6F00;
        }
    </style>
    <script src="style_for_login_page/js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="style_for_login_page/js/bs-init.js"></script>
    <script type="text/javascript">
        const submit_btn = document.querySelector('#submit-id-submit');
        const email = document.querySelector('#email');
        const password = document.querySelector('#password');
        const alert_popup = document.querySelector('#alert-popup');

        submit_btn.addEventListener('click', (event) => {
            event.preventDefault();
            const data = {
                email: email.value,
                password: password.value
            }
            fetch('login', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
                .then(data => data.json()).then(data => {
                    if (data.message == 0) {
                        alert_popup.style.display = "block";
                        setTimeout(() => {
                            alert_popup.style.display = "none";
                        }, 4000);
                    } else {
                        if (data.message == 1) {
                            window.location.href = '/home';
                        }
                    }
                })
        })
    </script>
</body>

</html>