<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/startPageStyle.css">
    <title>Document</title>
</head>

<body>
    <div class="welcome">Welcome to visit my website !</div>
    <div class="center">
        <a href="login-form"><button id="show-login" class="login-btn">Login</button></a>
        <a href="signup-form"><button id="show-signUp" class="signUp-btn">Sign up</button></a>
    </div>
</body>

</html>